{% extends "base.html" %}
{% block content %}

<section class="form-card">
    <h2>Settings</h2>
    <p class="form-intro">Customise Budget Buddy</p>
    <form method="POST">
        <!--Currency Symbol-->
        <label for="currency">Currency Symbol</label>
        <select id="currency" name="currency">
            <option value="R" {{ 'selected' if current_user.currency == 'R' }}>R (South African Rand) </option>
            <option value="$" {{ 'selected' if current_user.currency == '$'}}>$ (US Dollar)</option>
            <option value="€" {{ 'selected' if current_user.currency == '€' }}>€ (Euro)</option>
            <option value="£" {{ 'selected' if current_user.currency == '£' }}>£ (British Pound)</option>
        </select>

        <!--Budget Limit-->
        <label for="budget_limit">Monthly Budget Limit</label>
        <p class="form-hint">Leave empty for no monthly budget limit</p>
        <input  type="number"
                id="budget_limit"
                name="budget_limit"
                step="0.01"
                min="0"
                placeholder="e.g. 4000"
                value="{{ current_user.budget_limit if current_user.budget_limit else '' }}">

        <button class="btn-primary btn-block" type="submit">Save Settings</button>

    </form>
    <a class="back-link" href="{{ url_for('dashboard') }}">&larr; Back to home</a>

</section>
{% endblock %}